//color principal
$color-principal: #EC008C;

//color secundario

$color-secundario: #5E0B77;

//color de tipografìas

$color-tipografias: #fff;

//gradiente principal
$gradiente-principal: linear-gradient(to bottom right, $color-secundario, $color-principal);